<div class="container px-5 py-3">
  <app-page-title [title]="'Add New Group'"></app-page-title>

  <form [formGroup]="addGroupForm" (submit)="saveGroup($event)">
    <!-- Group Name Input -->
    <div class="d-flex justify-content-center align-items-center mb-3">
      <div class="position-relative">
        <input class="form-control ps-5 pe-5 p-2" type="text" id="groupName"
          formControlName="groupName" placeholder="Enter Group Name">
        <div *ngIf="getGroupName.touched && getGroupName.invalid" class="form-text mt-2 text-danger">
          <div *ngIf="getGroupName.hasError('required')">Group Name is Required</div>
        </div>
      </div>
    </div>

    <table class="my-3 shadow">
      <thead>
        <tr>
          <th><input type="checkbox" (change)="toggleAllPermissions($event)"></th>
          <th>Page</th>
          <th>Add</th>
          <th>Delete</th>
          <th>Edit</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody formArrayName="permissions">
        <tr *ngFor="let permission of permissions.controls; let i = index" [formGroupName]="i">
          <td><input type="checkbox" formControlName="selected"></td>
          <td>{{ permission.value.page }}</td>
          <td><input type="checkbox" formControlName="add"></td>
          <td><input type="checkbox" formControlName="delete"></td>
          <td><input type="checkbox" formControlName="edit"></td>
          <td><input type="checkbox" formControlName="view"></td>
        </tr>
      </tbody>
    </table>

    <!-- Save Button -->
    <div class="d-flex justify-content-end my-3">
      <button class="btn btn-add px-4" type="submit">
        Save Group
      </button>
    </div>
  </form>
</div>
