<div class="container px-5 py-3">
    <app-page-title [title]="'Add New Group'"></app-page-title>
  
    <!-- Group Name Input -->
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center mb-3">
        <div class="position-relative">
          <input [(ngModel)]="groupName" class="form-control ps-5 pe-5 p-2" id="groupName" placeholder="Enter Group Name" type="text">
        </div>
      </div>
    </div>
  
    <!-- Permission Table -->
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Add</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permission of permissions; let i = index">
                    <td>
                      <input [(ngModel)]="permission.page" placeholder="Page Name" />
                    </td>
                    <td>
                      <input type="checkbox" [checked]="permission.add === 'true'" (change)="updatePermissionAdd($event, permission)" />
                    </td>
                    <td>
                      <input type="checkbox" [checked]="permission.view === 'true'" (change)="updatePermissionView($event, permission)" />
                    </td>
                    <td>
                      <input type="checkbox" [checked]="permission.edit === 'true'" (change)="updatePermissionEdit($event, permission)" />
                    </td>
                    <td>
                      <input type="checkbox" [checked]="permission.delete === 'true'" (change)="updatePermissionDelete($event, permission)" />
                    </td>
                  </tr>
                  
            </tbody>
        </table>
    </div>
    
    
    
    <!-- Button to Add New Permission -->
    <div class="d-flex justify-content-end mb-3">
        <button (click)="addPermission()" class="btn btn-primary">
            Add New Permission
        </button>
    </div>
    <!-- Save Button -->
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary px-4" (click)="saveGroup()">
        Save Group
      </button>
    </div>
  </div>
  