<div class="container px-5 py-3">
    <app-page-title [title]="'All Groups'"></app-page-title>
  
    <div *NgIf="message" class="alert alert-success">
      {{ message }}
      <i class="bi bi-x-lg ms-5" (click)="closeMessage()" role="button"></i>
    </div>
  
    <div class="d-flex justify-content-end align-items-center mb-4">
      <app-add-button [entity]="'Group'" [routerLink]="['/groups/add']"></app-add-button>
    </div>
  
    <div class="table-responsive mb-4">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let group"> {{ group.id }} </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let group"> {{ group.name }} </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let group">
            <button class="btn btn-view me-2" [routerLink]="['/groups', group.id]">
              <i class="bi bi-eye"></i> View
            </button>
            <button class="btn btn-delete mx-2" (click)="openDeleteModal(group.id)">
              <i class="bi bi-x-lg"></i> Delete
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
      <app-confirm-modal
        *ngIf="showModal"
        (confirmed)="confirmDelete()"
        (closed)="closeModal()"
        [message]="'Are you sure you want to delete this group?'">
      </app-confirm-modal>
  
    </div>
  </div>
  