<div class="container px-5 py-3">
  <app-page-title [title]="userId === 0 ? 'Add New User' : 'Edit User'"></app-page-title>
  <!-- backend error -->
  @if (error) {
    <div class="alert alert-danger">
      {{ error }}
    </div>
  }
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="w-50 mt-5">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="name" class="form-label"><span class="text-danger me-1">*</span>Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" required />
      <ng-container *ngIf="userForm.get('name')?.touched && userForm.get('name')?.hasError('required')">
        <div id="nameHelp" class="form-text mt-2 text-danger">Name is required</div>
      </ng-container>
    </div>

    <!--full Name Input -->
    <div class="mb-3">
      <label for="fullName" class="form-label"><span class="text-danger me-1">*</span>Full Name</label>
      <input type="text" formControlName="Full_name" class="form-control" id="fullName" required />
      <ng-container *ngIf="userForm.get('fullName')?.touched && userForm.get('fullName')?.hasError('required')">
        <div id="nameHelp" class="form-text mt-2 text-danger">Full Name is required</div>
      </ng-container>
    </div>

    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label"><span class="text-danger me-1">*</span>Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" required />
      <ng-container *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('required')">
        <div id="emailHelp" class="form-text mt-2 text-danger">Email is required</div>
      </ng-container>
      <ng-container *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('email')">
        <div id="emailHelp" class="form-text mt-2 text-danger">Invalid email address</div>
      </ng-container>
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" />
      <ng-container *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('minlength')">
        <div id="passwordHelp" class="form-text mt-2 text-danger">Password must be at least 8 characters long</div>
      </ng-container>
    </div>

    <!-- Group Select (Single) -->
    <div class="mb-3">
      <label for="group_id" class="form-label"><span class="text-danger me-1">*</span>Group</label>
      <select formControlName="group_id" class="form-control" id="group_id" required>
        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
      </select>
      <ng-container *ngIf="userForm.get('group_id')?.touched && userForm.get('group_id')?.hasError('required')">
        <div id="group_idHelp" class="form-text mt-2 text-danger">Please select a group</div>
      </ng-container>
    </div>


    <div class="d-flex justify-content-end my-5">
      <button class="btn btn-outline-add me-3 px-4" (click)="goBack()">Back</button>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-add px-4">
        {{ userId === 0 ? 'Add User' : 'Update User' }}
      </button>
    </div>
  </form>
</div>
