.sidebar{
    background-color: #d6e4eb;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 250px;
    padding-bottom: 194px;
}
.sidebar hr {
    border-color: #dee2e6;
}
.logo{
    width: 50px;
    height: auto;
}
.sidebarHeader{
    color: #296f93;
    margin-bottom: -10px;

}
.pHeader {
    margin-top: -10px; 
}
a{
    color: #173d51;
}
h5{
    font-size: 18px;
}
i {
    font: 17px bold;
    color: #e94d65; 
}
li{
    padding-bottom: 10px;
}